A. General Composure:
  1. Be nice in chat, harrasment, swearing and racism is not tolerated
  2. Spam is not allowed
  3. Adverstising for other servers or services is not allowed
    a. Promoting Youtube, Twitch or any other social media should go on the forums
    b. Sharing an IP of an server may be given using /msg.
  
B. Forum behaviour
  [To be added]
  
C. Modified clients
  1. The usage of modified minecraft clients that give an advantage over other players is not allowed
    a. 
    b. Exeptions on this rule are: Optifine, Shaders and armour status.
